

@import "./reset.css";
	body{
	    background-color: black;
	}
	.site-title{
	    background-color: black;
	    padding: 10px;
	    padding-left: 23px;
	    padding-right: 23px;
	    margin-left: 40%;
	    color: white;
	     width: 240px; 
	    text-align: center;
	    margin: auto;
	    font-family: Arial, Helvetica, sans-serif; 
	    border: 1px solid white;
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	.not-found{
	  color: white;
	  text-align: center;
	  font-size: 60px;
	  margin-top: 40px;
	}
	#search{
	    width: 100%;
	    padding-left: 30px;
	    padding-right: 30px;
	    height: 40px;
	    font-size: 30px;
	   
	    
	}
	#news-articles{
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	    height: 300px;
	  }
	  #news-articles:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	    
	  }
	  
	  #news-articles {
	    display: grid;
	    grid-template-columns: auto auto auto;
	    grid-template-rows: auto;
	    grid-gap: 20px;
	    margin:10px;
	    height: 300px;
	    float: right;
	  }
	  
	  .article {
	    font-size: 30px;
	   margin-top: 50px;
	    color: white;
	    width: 100%;
	    display: block;
	    border: 4px solid white;
	    border-radius: 10px;
	  }
	  #search {
	    width: 100%;
	    height: 30px;
	    background-color: black;
	    font-size: large;
	    padding: 20px;
	    font-size: 30px;
	    color: white;
	    border-top: black;
	    border-left: black;
	    border-right: black;
	    justify-content: center;
	  }
	  .inputbox{
	    width: 100%;
	    height:40px;
	    margin-bottom: 10px;
	    margin-top: 10px;
	}
	  
	@media screen and (max-width: 700px){
	      #news-articles {
	          display: grid;
	          grid-template-columns: auto;
	          grid-template-rows: auto;
	          
	        }
	        #searchbtn{
	          display: block;
	          width: 100%;
	        }
	        #clearbtn{
	          display: block;
	          width: 100%;
	        }
	  }



